.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Buttons Container Section */
main .section.buttons-container {
  padding: 0 !important;

  .columns-wrapper {
    margin: 24px;

    .columns > div {
      gap: 24px;

      a {
        padding: 16px 32px;
        border: 1px solid #249edc;
        color: #249edc;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        font-family: 'CABIN';
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        background-color: white;
        margin: 0;
      }
    }
  }

  @media (width >= 768px) {
    .columns-wrapper {
      margin: 24px 48px;
      max-width: 1408px;

      .columns > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

    @media (width >= 1498px) {
    .columns-wrapper {
      margin: 24px auto;

      .columns > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}